/* container part */
.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height:100vh;
background-color: #D5DFE5;

}
/* header-part */
header{
display:flex;
padding:0.5rem;
}

.difficulty{
  margin:0rem 1rem;
  background-color: red;
  width:10rem;
  height:2rem;
  margin-top:1.5rem;
}
 
.question{
  text-align:center;
  width:25rem;
  background-color: yellowGreen;
  margin:1rem;
  color: antiquewhite;
  padding:1rem;
  border-radius: 10px;
}
.score{
  text-align:center;
  width:5rem;
  background-color: orange;
  margin-top:1.5rem;

}

.result{
  color:black;
  padding:1rem;

}

.button{
  column-count: 2;
  padding:10px 420px;
  text-align: center;
 
}

.btn{
background-color: #4381C1;
border-radius: 10px;
width:200px;
padding:1rem;
margin:1rem;
color:white;
font-weight: 600;
font-size: 1rem;
border:none;

}
.btn-primary{
  visibility: hidden;
}

 .btn:hover{
   transform:scale(1.1);
   background-color:#3A606E ;
   color: white;
   transition:transform 200ms ease-in-out ;
   cursor: pointer;
 }
.bar{
  background-color: blue;
  height:1rem;
  margin-bottom:1rem;

}

.btn-primary{
  color: black;
}

.submit{
  background-color: blue;
  color: white;
  padding:1rem;
  visibility: hidden;
}

.onSubmit{
  visibility: display;
  background-color: blue;
  color: white;
  padding:1rem;
}
